.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Dependencies
/vendor/
composer.lock

# Font download artifacts
assets/fonts/**/*.url
assets/fonts/**/!pd.nfo
assets/fonts/**/read me!.txt

# OS / editor
*.log
*.swp
